<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous" />
		<title>First Web App</title>
	</head>
	<body>
		<div class="jumbotron">
		<div class="container">
			<h1>Welcome to my final project for one month python</h1>
			<p>I am learning python to hopefully build cool products in the future. Here is my first web app. I built this project for <a href="https://onemonth.com/courses/one-month-python">One Month Python</a>.
			</p>
			<a href="{{ url_for('index') }}">Homepage</a>
		</div>	
		</div>
	</body>
</html>